{% extends 'base2.html' %}
{% block title %} {{post.title}}{% endblock title %}

{% load static %}
{% block content %}

            <section class="pricing section">
                <div class="container">
                  <div>

                    {% block messages %}{% include 'messages.html' %}{% endblock messages %}
                  </div>

                  <h1 class="textcolor">{{post.title}}</h1>

                    <div class="pricing-inner section-inner">
                        <div class="pricing-tables-wrap">
                                <div class="pricing-table-inner backcolor">
                                    <div class="pricing-table-main"> 
                                      
                                        <form id="formid" action="#" method="post" class="row g-3">
                                            {% csrf_token %}
                                            <div class="col-auto">
                                              <label for="staticEmail2" class="visually-hidden">Email</label>
                                              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                                            </div>
                                            <div class="col-auto">
                                              <label for="inputPassword2" class="visually-hidden">Password</label>
                                              <input type="password" class="form-control backcolor" id="inputPassword2" placeholder="Password" required>
                                            </div>
                                            <div class="col-auto">
                                              <button type="save" class="btn btn-success mb-3">Download</button>
                                            </div>
                                          </form>
                                    </div>
                                </div>

            </section>


  {% endblock content %}