{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      -webkit-animation-name: fadeIn; /* Fade in the background */
      -webkit-animation-duration: 0.4s;
      animation-name: fadeIn;
      animation-duration: 0.4s
    }
    
    /* Modal Content */
    .modal-content {
      position: fixed;
      bottom: 0;
      background-color: #fefefe;
      width: 100%;
      -webkit-animation-name: slideIn;
      -webkit-animation-duration: 0.4s;
      animation-name: slideIn;
      animation-duration: 0.4s
    }
    
    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-header {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
    
    .modal-body {padding: 2px 16px;}
    
    .modal-footer {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
    
    /* Add Animation */
    @-webkit-keyframes slideIn {
      from {bottom: -300px; opacity: 0} 
      to {bottom: 0; opacity: 1}
    }
    
    @keyframes slideIn {
      from {bottom: -300px; opacity: 0}
      to {bottom: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
      from {opacity: 0} 
      to {opacity: 1}
    }
    
    @keyframes fadeIn {
      from {opacity: 0} 
      to {opacity: 1}
    }
    </style>


<div class="pricing-inner section-inner has-top-divider">
    <h2 class="section-title mt-0 text-center">Select Your Package Type:</h2>
    <div class="pricing-tables-wrap">
        <div class="pricing-table">
            <div class="pricing-table-inner backcolor">
                <div class="pricing-table-main">
                    <div class="pricing-table-header is-revealing">
                        <div class="pricing-table-title mt-12 mb-8"><button class="dropdown-btn">Premium 
                            <i class="fa fa-caret-down">v</i>
                          </button>
                          <div class="dropdown-container" style="background-color: #fff;">
                            <a href="/">Free</a> 
                            <br>
                            <a href="/premium/">Premium</a>
                          </div></div>
                        <div class="pricing-table-price mb-32 pb-24"><span class="pricing-table-price-currency h4">$</span><span class="pricing-table-price-amount h2 textcolor">0</span>/day</div>
                    </div>
                    <div id="submit_entry"></div>

                    <form action="{% url 'core:premium'%}" method="post">
                        {% csrf_token %}
                        <input class="form-control mb-3 backcolor" name="name" placeholder="Enter Fullname" required></input>
                
                        <input class="form-control mb-3 backcolor" id="phone" type="tel" name="phone" placeholder="Enter Number" required>
                
                        <input class="form-control mb-3 backcolor" type="text" name="email" placeholder="Enter Email" required style="margin-top: 20px;"></input>
                
                        <input class="form-control mb-3 backcolor" type="text" name="state" placeholder="Format: Lagos, Nigeria" required></input>
                
                        <div class="mb-3"></div>
                        <div class="mb-3"></div> 
                
                        <!-- <button type="submit" class="btn btn-success" required>SUBMIT</button> -->
        
                        <div class="pricing-table-cta is-revealing">
                        <button data-toggle="modal" data-target="#exampleModal" type="submit" class="btn btn-success  button-shadow button-block" href="/downloads/" >Submit</button>
                        </div>
                        
                    </form>
                </div>
            </div>

            <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Modal Header</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                    <div class="modal-footer">
                        <h3>Modal Footer</h3>
                    </div>
                    </div>
                
                </div>
            
            <!-- <script>
                // Get the modal
                var modal = document.getElementById("myModal");
                
                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");
                
                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                
                // When the user clicks the button, open the modal 
                btn.onclick = function() {
                  modal.style.display = "block";
                }
                
                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                  modal.style.display = "none";
                }
                
                // When the user clicks anywhere outside of the modal, close it
                
                </script> -->


{% endblock content %}